*{
  font-family: sans-serif;
}

/* Utility Classes */
.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

.inline-block{
  display: inline-block;
}

.space-between{
  justify-content: space-between;
}

.hover_white:hover{
  color: white;
  text-decoration: none;
}

.hover_grey:hover{
  color: grey;
  text-decoration: none;
}

.hover_bg_white:hover{
  background: white;
}

.focus_no_deco:focus{
  text-decoration: none;
  color: inherit;
}

.column{
  flex-direction: column;
}

.card{
  width: calc(100% / 6);
}

.white{
  color: white;
}

.grey{
  color: #7c7e83;
}

.lightgrey{
  color: #5a5a5a;
}

.black{
  color: black
}

.bg_grey{
  background-color: #7c7e83;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fs-10{
  font-size: 10px;
}

.fs-12{
  font-size: 12px;
}

.fs-13{
  font-size: 13px;
}

.fs-15{
  font-size: 15px;
}

.pb_20{
  padding-bottom: 20px;
}

.mb_25{
  margin-bottom: 25px;
}

.mb_50{
  margin-bottom: 50px;
}

.hr_grey{
  border-top: 4px solid #5a5a5a;
  border-radius: 5px;
}

.hr_white{
  border-top: 4px solid white;
  border-radius: 5px;
}

/* Struttura del main */
.central_and_sidebar{
  justify-content: space-between;
  max-height: 100vh;
}

.sidebar{
  background: #282828;
  height: 80px;
  width: 100vw;
}

.central aside{
  background: black;
  width: 230px;
  height: calc(100vh - 80px);
}

.central .main_content{
  background: #141922;
  width: calc(100% - 230px);
  height: calc(100vh - 80px);
}
/* Fine struttura del main */

/* Inizio main_content */
.main_content{
  overflow-y: auto;
}

/* Parte "effettua l'upgrade" */
.upgrade{
  width: calc(100% - 230px);
  height: 100px;
  background: #00000069;
  position: fixed;
  top: 0;
  z-index: 1;
}

.button_pill {
  display: inline-block;
  border: 1px solid white;
  padding: 13px 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Navmenu */
.main_content .navmenu-list{
  justify-content: center;
  padding: 0;
}

/* .nav-menu .d-flex{
  flex-wrap: wrap;
} */

.nav-menu ul{
  margin-top: 120px;
  list-style: none;
}

.nav-menu li{
  padding-right: 15px;
  padding-left: 15px;
}

.nav-menu{
  width: 100%;
  margin: auto;
}

/* Recently played , Created for , Artisti popolari*/

.container-tips{
  width: 98%;
  margin: auto;
}

.container-tips{
  width: 98%;
  margin: auto;
}

.container-tips h2 , .container-tips p{
  margin-left: 10px;
}

.recently .d-flex{
  justify-content: space-between;
}

.card img , .card h4 , .card .subtitle{
  width: 90%;
  margin: 10px auto;
}

.card .img_play{
  position: relative;
}

.card .img_play .play_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.card .play_button i{
  font-size: 60px;
  display: none;
}

.card .img_play .play_button a:hover{
  text-decoration: none;
  color: white;
}

.card .img_play:hover i{
  display: block;
}

.card .img_play:hover img{
  filter: brightness(0.4);
}

.popular img{
  border-radius: 50%;
}

/* Barra laterale */
aside{
  overflow-y: auto;
}

#logo_big{
  width: 180px;
  padding: 20px;
}

.aside_menu , .playlist ul{
  padding-left: 0;
}

.aside_menu li{
  list-style: none;
  padding-top:  5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.aside_menu img{
  width: 25px;
}

.aside_menu .border_lg{
  border-left: 4px solid #adff2f;
  padding-left: 11px;
}

/* Playlist */
.playlist{
  padding-left: 15px;
  margin-top: 20px;
}

.playlist li{
  list-style: none;
}

.playlist a span {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  padding: 0 10px;
  margin-right: 5px;
}

.create_playlist{
  height: 40px;
  position: relative;
}
.playlist a div{
  width: 100px;
  margin-left: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.playlist li {
  margin-bottom: 15px;
}

.playlist ul{
  height: 150px;
  overflow-y: auto;
}

/* Installa app */
.install_app{
  padding-left: 15px;
  padding-right: 15px;
}

.install_app i{
  margin-right: 5px;
}

.install_app hr{
  border-top: 1px solid #7c7e83;
  margin: 10px 0;
}

.install_app div img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
/* Fine barra laterale */

/* Sidebar */
.sidebar{
  overflow: hidden;
}

.sb_right , .sb_left{
  width: 30%;
  position: relative;
}

.sb_central{
  width: 40%;
}

/* Parte sinistra della sidebar */
.reproducing_info{
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  margin-left: 15px;
}


.reproducing_info img{
  width: 45px;
}

.reproducing_info>a>img:hover{
  filter: brightness(0.5);
}

.reproducing_info .sb_song div{
  line-height: 1em;
  margin-left: 10px;
}

.sb_song div:first-child{
  margin-top: 10px;
}

.sb_icons{
  margin-left: 40px;
}

.sb_icons i{
  margin-top: 15px;
  margin-right: 15px;
}

/* Parte centrale della sidebar */

.player_controls{
  width: 200px;
  margin: 10px auto;
  justify-content: space-around;
  align-items: center;
}

.player_controls i{
  font-size: 15px;
}

.player_controls .play{
  font-size: 30px;
}

.timer_player{
  width: 80%;
  margin: auto;
  justify-content: space-around;
  vertical-align: center;
}

.scroll_timer{
  width: 75%;
}

.scroll_timer .hr_grey{
  position: relative;
  bottom: 16px;
}

.scroll_timer .hr_white{
  position: relative;
  bottom: 40px;
  width: 20%;
  margin-left: 0;
}

/* Parte destra della sidebar */

.sb_right{
  justify-content: flex-end;
  align-items: center;
  margin-top: 5px;
}

.sb_right a , .sb_right div{
  margin-right: 20px;
}

.volume_adjust{
  width: 100px;
}

.volume_adjust .hr_grey{
  position: relative;
  bottom: -10px;
}

.volume_adjust .hr_white{
  position: relative;
  bottom: 14px;
  width: 30px;
  margin-left: 0;
}

/* Mediaquery MD */
@media screen and (max-width: 991.5px) {

  /* Menu nav centrale */
  .nav-menu li{
    padding-right: 13px;
    padding-top:40px;
  }

  .nav-menu ul{
    margin-top: 80px;
  }

  .nav-menu{
    width: 90%;
    margin: auto;
  }

  .nav-menu .d-flex{
    flex-wrap: wrap;
  }

  /* Parte Recently played , Created for e artisti popolari */
  .recently .d-flex{
    flex-wrap: wrap;
  }

  .recently .card{
    flex-basis: 25%;
  }

  .recently>.d-flex{
    justify-content: flex-start;
  }

  .created .card{
    flex-basis: 25%;
  }

  .popular .card{
    flex-basis: 25%;
  }

  /* Sidebar */

  .sb_icons{
    margin-left: 30px;
  }

  .sb_icons i {
    margin-top: 20px;
    margin-right: 5px;
  }


  .reproducing_info {
    margin-left: 10px;
  }

}

/* Mediaquery SM */
@media screen and (max-width: 767.5px){

  /* Menu nav centrale */
  .nav-menu li{
    font-size: 14px;
    padding-top:40px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-menu ul{
    margin-top: 80px;
  }

  .nav-menu{
    width: calc(567px - 230px);
    /* margin: auto; */
  }

  .nav-menu .d-flex{
    flex-wrap: wrap;
  }

  /* Parte Recently played , Created for e artisti popolari */

  .recently .d-flex{
    flex-wrap: wrap;
  }

  .recently .card{
    flex-basis: 50%;
  }

  .recently>.d-flex{
    justify-content: flex-start;
  }

  .created .card{
    flex-basis: 50%;
  }

  .popular .card{
    flex-basis: 50%;
  }

  /* SideBar */

  .sb_right a, .sb_right div {
    margin-right: 10px;
  }

  .reproducing_info .sb_song div {
      line-height: 1em;
      margin-left: 5px;
  }

  .sb_icons{
    margin-left: 5px;
  }

  .sb_icons i {
    margin-top: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
  }
  .sb_icons a {
    display: block;
    margin-top: 0;
  }

  .reproducing_info {
    margin-left: 10px;
  }

}

/* Mediaquery xs */

@media screen and (max-width: 575.5px) {

  /* Utility classes */
  .xs-hidden{
    display: none;
  }

  .xs-block{
    display: block;
  }

  /* Ridimensionamento layout */
  .central aside{
    width: 50px;
  }

  .central .main_content{
    width: calc(100% - 50px);
  }

  .upgrade{
    width: calc(100% - 50px);
  }

  /*barra laterale*/
  #logo_small{
    width: 30px;
    margin: 10px auto;
  }

  .aside_menu li {
    padding-left: 0;
    margin: auto;
  }

  .aside_menu .border_lg {
    border-left: 0;
    padding-left: 0;
  }

  .install_app {
    padding-left: 0;
    padding-right: 0;
  }

  .install_app i {
    margin-right: 0;
  }

  .install_app>div{
    text-align: center;
  }

  .install_app div img {
    margin-right: 0;
  }

  .install_app > div {
    padding-bottom: 10px;
  }

}
