*{
  font-family: sans-serif;
}

/* Utility Classes */
.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

.card{
  width: calc(100% / 6);
}

.white{
  color: white;
}

.grey{
  color: #7c7e83;
}

.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

.fs-12{
  font-size: 12px;
}

.fs-13{
  font-size: 13px;
}

.fs-15{
  font-size: 15px;
}



/* Struttura del main */
.central_and_sidebar{
  justify-content: space-between;
  max-height: 100vh;
}

.sidebar{
  background: #282828;
  height: 80px;
  width: 100vw;
}

.central aside{
  background: black;
  width: 250px;
  height: calc(100vh - 80px);
}

.central .main_content{
  background: #141922;
  width: calc(100% - 250px);
  height: calc(100vh - 80px);
}
/* Fine struttura del main */

/* Inizio main_content */
.main_content{
  overflow-y: auto;
}

/* Parte "effettua l'upgrade" */
.upgrade{
  width: calc(100% - 250px);
  height: 100px;
  background: #00000069;
  position: fixed;
  top: 0;
  z-index: 1;
}

.button_pill {
  display: inline-block;
  border: 1px solid white;
  padding: 13px 50px;
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Navmenu */
.main_content .navmenu-list{
  justify-content: space-around;
  padding: 0;
}

.nav-menu li{
  padding-top: 120px;
  list-style: none;
}

.nav-menu{
  width: 55%;
  margin: auto;
}

/* Recently played , Created for*/

.container-tips{
  width: 98%;
  margin: auto;
}

.container-tips{
  width: 98%;
  margin: auto;
}

.container-tips h2 , .container-tips p{
  margin-left: 10px;
}

.recently .d-flex{
  justify-content: space-between;
}

.card img , .card h4 , .card .subtitle{
  width: 90%;
  margin: 10px auto;
}

.card .img_play{
  position: relative;
}

.card .img_play .play_button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.card .play_button i{
  font-size: 60px;
  display: none;
}

.card .img_play .play_button a:hover{
  text-decoration: none;
  color: white;
}

.card .img_play:hover i{
  display: block;
}

.card .img_play:hover img{
  filter: brightness(0.4);
}

.popular img{
  border-radius: 50%;
}
