/* Utility Classes */
.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

main{
  color: white;
}

/* Struttura del main */
.central_and_sidebar{
  justify-content: space-between;
  max-height: 100vh;
}

.sidebar{
  background: green;
  height: 80px;
  width: 100vw;
}

.central aside{
  background: black;
  width: 250px;
  height: calc(100vh - 80px);
}

.central .main_content{
  background: red;
  width: calc(100% - 250px);
  height: calc(100vh - 80px);
}
/* Fine struttura del main */

.main_content{
  overflow-y: auto;
}
