/* Utility Classes */
.d-flex{
  display: flex;
}

.column{
  flex-direction: column;
}

main{
  color: white;
}

/* Colonna contenente la parte centrale (compreso aside) e sidebar */
.central_and_sidebar{
  justify-content: space-between;
  height: 100vh;
}

.sidebar{
  background: green;
  height: 80px;
}

.central aside{
  background: black;
  width: 250px;
  height: calc(100vh - 80px);
}

.central .main_content{
  background: red;
  width: calc(100% - 250px);
}
